<% provide(:title, 'MLM Portal') %>
<div class="row">
	<aside class="span4">
		<section>
			<h3>Your Royalties</h3>
		</section>
	</aside>
	<div class="span7">
		<h2>Missing Link Music Client Portal</h2>
		  <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
		<%= render 'shared/signin_form' %>
	</div>	
</div>

