<div class="accordion" id="accordion-works">
  <% @works.each do |work| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-works"
          data-target="#collapse<%=work.id%>"><%= work.title %>
        </a>
      </div>
      <div id="collapse<%=work.id%>" class="accordion-body collapse">
        <div class="accordion-inner">
          <%=work.id%>
        </div>
      </div>
    </div>
  <% end %>
</div>