<div class="statement-table-header">
  <div id="date-header">Date</div>
  <div id="quarter-header">Quarter</div>
  <div id="year-header">Year</div>
  <div id="amount-header">Amount</div>
  <div id="download-header">Download</div>
</div>