@import "bootstrap";

$grayMediumLight: #eaeaea;
$sidebarGray: #999999;
$cashGreen: #4AA02C;
$footerGray: #C0C0C0;
$missingLink: hsl(246, 79%, 15%);

/* mixins, variables, etc. */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 55px;
}

section {
  overflow: visible;
  padding: 10px 0;
  border-top: 1px solid $sidebarGray;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* bootstrap */
.btn-custom {
  background-color: hsl(246, 79%, 15%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#170d72", endColorstr="#0e0844");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#170d72), to(#0e0844));
  background-image: -moz-linear-gradient(top, #170d72, #0e0844);
  background-image: -ms-linear-gradient(top, #170d72, #0e0844);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #170d72), color-stop(100%, #0e0844));
  background-image: -webkit-linear-gradient(top, #170d72, #0e0844);
  background-image: -o-linear-gradient(top, #170d72, #0e0844);
  background-image: linear-gradient(#170d72, #0e0844);
  border-color: #0e0844 #0e0844 hsl(246, 79%, 12.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

/* header */
nav {
  float: right;
  padding: 5px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $footerGray;
  font-size: 0.80em;
  text-align: center;
  a{
    color: $footerGray;
    &:hover {
        color: black;
        text-decoration:none;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    overflow-y: visible;
    a {
      color: $sidebarGray;
      &:hover {
        color: black;
        text-decoration:none;
      }
    }
    ul.dropdown-menu{
      left: 24%;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h3 {
      text-align: center;
    }
    &:first-child {
      border: 0;
      padding-top: 50px;
    }
  }
  border-right: 1px solid $grayMediumLight;
}

/* signin */


/* users list */

.users li {
  list-style: none;
}

/* forms */
.row_form {
  .field {
    display: inline-block;
    margin-right: 10px;
    label {
    display: block;
    } 
  }
  display: block;
  margin-top: 10 px;
}
#password{
  margin-bottom: 10px;
}
#change_password{
  position:relative;
  top: -5px;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* statements */

#no_statement {
  margin-top: 120px;
  margin-bottom: 150px;
  color: $sidebarGray;
  font-size: 1.8em;
  text-align: center;
}

.statements-body{
  padding: 40px 10px 30px;
  border: 1px solid $sidebarGray;
  .statements{
    border: 1px solid $footerGray;
  }
}

.statement-table-header{
  background-color: $missingLink;
  padding: 6px 0px;

  div{
    font-weight: normal;
    font-size: 1.2em;
    color: $white;
    display: inline-block;
    width: 110px;
    text-align: center;
    &:last-child{
      width: 140px;
  } 
  }
} 

.statement-record {
  border-bottom: 1px solid $footerGray;
  div{
    display: inline-block;
    text-align: center;
    width: 110px;
    font-size: 1.2em;
    padding: 10px 0px;
    border-right: 1px solid $footerGray;
    &.amount-content {
      color: $cashGreen;
    }
    &:last-child{
      border-right: 0px;
      width: 136px;
    }
  }
}

/* works */
.accordion-group{
  border: 0px; border-radius: 0px;
  border-bottom: 1px solid $grayMediumLight
}

.audio-product{
  margin-bottom: 30px;
  .title {
    font-size: 1.30em;
    font-weight: bold;
  }
  &:last-child{
    margin-bottom: 0px;
  }
}

.no-works-found{
  color: $sidebarGray;
}

.catalog-header{
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grayMediumLight
}

.mr-share{
  color: $cashGreen;
  text-align: right;
  font-weight: bold;
  &:after{
    content:"%";
  }
}
