<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<% if signed_in? %>
				<%= current_user.admin? ? logo_link(users_path) : 
																	logo_link(user_path(current_user.id)) %>
			<% else %>
				<%= logo_link root_path %>
			<% end %>
			<nav>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<li><%= link_to "Sign out", signout_path, method: "delete" %>
						</li>
					<% else %>
						<li><%= link_to "Sign in", root_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

