<div class="row">
	<aside class="span4">
		<section>
			<h3>My Royalties</h3>
		</section>
		<section>
			<h3>My Contact Information</h3>
		</section>
		<section>
			<h3>My Settings</h3>
		</section>
	</aside>