<div class="row">
	<aside class="span4">
		<section>
			<h3>My Royalties</h3>
		</section>
		<section>
			<%if signed_in? %>
				<h3><%=link_to "My Account", edit_user_path(current_user) %></h3>
			<% else %>
				<h3>"My Account"</h3>
			<% end %>
		</section>
	</aside>