<aside class="span4">
	<%if signed_in? %>
		<section>
			<h3><%=link_to "My Royalties",  user_path(current_user) %></h3>
		</section>
		<section>
			<h3><%=link_to "My Account", edit_user_path(current_user) %></h3>
		</section>
		<section>
			<%= render 'layouts/catalog_menu' %>
		</section>
	<% else %>
		<section>
			<h3>My Royalties</h3>
		</section>
		<section>
			<h3>My Account</h3>
		</section>
		<section>
			<h3>My Catalog</h3>
		</section>
	<% end %>
</aside>